<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c4c9e3a7-49d0-462b-9c2c-2515ad83a2b8/resourceGroups/rocketelevators/providers/Microsoft.Web/sites/restapirocketelevators</ResourceId>
    <ResourceGroup>rocketelevators</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://restapirocketelevators.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>restapirocketelevators.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>restapirocketelevators</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$restapirocketelevators</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>